@model IEnumerable<ContactPost>
@{
    ViewData["Title"] = "Index";
}


<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Sorğular</h4>
                    <span>Bütün sorğuların siyahısı</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="contactposts" asp-action="index">Sorğular</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Hover table card start -->
    <div class="card">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sorğu</th>
                            <th>Status</th>
                            <th class="table_operations">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-entity-id="@item.Id">
                                <th scope="row">@item.Id</th>
                                <td>@item.Message</td>
                                <td>
                                    @if (item.AnswerDate == null)
                                    {
                                        <span class="badge badge-warning">
                                            Cavab Gözləyir
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-success">
                                            Cavablandırılıb (@item.AnswerDate?.ToString("dd.MM.yyyy HH:mm:ss"))
                                        </span>
                                    }
                                </td>
                                <td class="table_operations">
                                    @if (item.AnswerDate == null)
                                    {
                                        <a asp-action="answer" asp-route-id="@item.Id" class="btn btn-warning">
                                            <i class="icofont-envelope-open"></i>
                                        </a>
                                    }
                                    <a asp-action="details" asp-route-id="@item.Id" class="btn btn-secondary">
                                        <i class="icofont icofont-eye-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Hover table card end -->

</div>
<!-- Page-body end -->
